.title {
  margin-bottom: var(--spacing-20);
  color: var(--color-font-secondary);
  text-transform: uppercase;
}

.containerActor {
  padding: var(--spacing-20);
  color: var(--color-font-secondary);
  background-color: var(--background-color);
}

.info {
  font-size: 30px;
  border-bottom: 1px solid var(--color-font-primary) 
}
