.containerHome {
  height: 70vh;
}

.containerHero {
  color: var(--color-font-secondary);
  text-shadow: -2px -2px 0 var(--boxShadow-color-dark), 2px -2px 0 var(--boxShadow-color-dark), -2px 2px 0 var(--boxShadow-color-dark), 2px 2px 0 var(--boxShadow-color-dark);
  width: 100%;
}

.title {
  text-transform: uppercase;
  font-size: 500%;
}

.info {
  font-size: 200%;
}
