.linkCategory {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-font-secondary);
}

.linkCategory:focus {
  color: var(--color-font-primary-hover);
}

.linkCategory:hover {
  color: var(--color-font-primary);
}

@media (max-width: 768px) {
  .linkCategory {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}