.cardContainer {
  width: 75vw;
  margin: var(--spacing-20);
  transition: all .1s ease-in;
  border-radius: 5px;
  background-color: var(--background-color);
}

.cardContainer:hover {
  box-shadow: var(--boxShadow-color-white) 0px 3px 20px;
}

.cardTitle, .cardText, .cardIcon {
  padding: 0 var(--spacing-20);
  color: var(--color-font-secondary);
}
