.containerNav {
  padding: 20px;
}

.titleNavbar {
  color: #F2CB05;
  text-decoration: none;
  font-size: 25px;
}

.titleNavbar:hover {
  color: #F2CB05;
}

@media (max-width: 991px) {
  .collapseForm {
    margin: 20px;
  }
}
