.containerNav {
  padding: 0 var(--spacing-20);
}

.titleNavbar {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.titleNavbar:hover {
  color: var(--color-font-primary-hover);
}

.togglerBtn {
  border: 2px solid var(--border-btn-color);
}

.navbarTogglerIcon {
  color: var(--color-font-secondary);
}

@media (max-width: 991px) {
  .collapseForm {
    margin: var(--spacing-20);
  }
}
